<!-- Please remove this file from your project -->
<template>
  <div>
    <div
      class="w-full h-[5px] bg-gradient-to-r from-[#319795] to-[#3182CE]"
    ></div>
    <div
      class="
        w-full
        bg-white
        shadow-[0px_3px_6px_#00000029]
        rounded-b-[12px]
        h-[67px]
        flex
        justify-end
      "
    >
      <a
        class="
          text-[#319795] text-right
          mr-4
          mt-[25px]
          font-semibold
          tracking-[.84px]
          font-['Anton',sans-serif,'Koulen',
          cursive,'Nunito',
          sans-serif,'Zen
          Loop',
          cursive]
          text-[14px]
          leading-[17px]
        "
        href="#login"
        >Login</a
      >
    </div>
  </div>
</template>
 
<script>
export default {
  name: "Header"
};
</script>