<template>
  <div class="bg-[#e8fafc]">
    <Header />
    <div class="bg-[#e8fafc] mt-2">
      <h1
        class="
          tracking-[1.26px]
          text-[42px]
          leading-[50px]
          text-center text-[#2D3748]
          pt-[18px]
          pl-5
          pr-5
        "
      >
        Deine Job website
      </h1>
      <div class="flex justify-center mt-2 z-0 relative">
        <img
          src="../assets/images/topimage.png"
          alt="Image"
          title="Deine Job Website"
        />
      </div>
    </div>
    <div
      class="
        relative
        bg-white
        rounded-t-[12px]
        h-[128px]
        w-full
        flex
        justify-center
        mt-[-85px]
        opacity-1
        z-10
        shadow-[0px_-1px_3px_#00000033]
      "
    >
      <button
        class="
          w-[320px]
          mt-[24px]
          bg-gradient-to-r from-[#319795] to-[#3182CE]
          hover:bg-gradient-to-r from-[#2C7A7B] to-[#2B6CB0]
          rounded-[12px]
          h-[40px]
          text-[14px] text-[#E6FFFA]
          leading-[17px]
          tracking-[0.84px]
          ml-4
          mr-4
          text-center
        "
      >
        Kostenlos Registrieren
      </button>
    </div>
    <div class="bg-white">
      <div class="pt-[27px] flex justify-center pl-4 pr-4">
        <button
          class="
            text-center
            h-[40px]
            border
            w-[110px]
            text-[14px]
            leading-[17px]
            tracking-[0.84px]
            rounded-tl-[12px] rounded-bl-[12px]
          "
          :class="[
            current_selected_tab == 1
              ? 'bg-[#81E6D9] text-[#E6FFFA]'
              : 'bg-[#FFFFFF] text-[#319795]',
          ]"
          @click="change_tab(1)"
        >
          Arbeitnehmer
        </button>
        <button
          class="
            text-center
            h-[40px]
            border
            w-[110px]
            text-[14px]
            leading-[17px]
            tracking-[0.84px]
          "
          :class="[
            current_selected_tab == 2
              ? 'bg-[#81E6D9] text-[#E6FFFA]'
              : 'bg-[#FFFFFF] text-[#319795]',
          ]"
          @click="change_tab(2)"
        >
          Arbeitgeber
        </button>
        <button
          class="
            text-center
            h-[40px]
            border
            w-[110px]
            text-[14px]
            leading-[17px]
            tracking-[0.84px]
            rounded-tr-[12px] rounded-br-[12px]
          "
          :class="[
            current_selected_tab == 3
              ? 'bg-[#81E6D9] text-[#E6FFFA]'
              : 'bg-[#FFFFFF] text-[#319795]',
          ]"
          @click="change_tab(3)"
        >
          Temporärbüro
        </button>
      </div>
      <h1
        class="
          mt-[30px]
          text-center text-[21px]
          leading-[25px]
          tracking-[0px]
          text-[#4A5568]
          pl-5
          pr-5
          mb-5
        "
      >
        <span v-if="current_selected_tab == 1">
          Drei einfache Schritte zu deinem neuen Job
        </span>
        <span v-else-if="current_selected_tab == 2">
          Drei einfache Schritte zu deinem neuen Mitarbeiter
        </span>
        <span v-else-if="current_selected_tab == 3">
          Drei einfache Schritte zur Vermittlung neuer Mitarbeiter
        </span>
        <span v-else></span>
      </h1>
      <div>
        <div>
          <div class="flex justify-center">
            <img src="../assets/images/1.png" alt="1" />
          </div>
          <div
            class="
              text-center text-[#718096] text-[16px]
              leading-[0.47px]
              flex
              justify-center
              p-5
            "
          >
            <p class="text-[#718096] text-[130px] leading-[0px] tracking-[1px]">
              1.
            </p>
            <p class="h-12 leading-6 text-left pl-5 w-[370px]">
              Erstellen dein Unternehmensprofil
            </p>
          </div>
          <div
            class="
              w-[208px]
              h-[208px]
              bg-[#F7FAFC]
              rounded-[50%]
              ml-[-20%]
              mt-[-170px]
            "
          ></div>
        </div>

        <div class="h-auto mt-[-40%]">
          <svg viewBox="0 0 960 540">
            <path
              d="M0 373L40 377.7C80 382.3 160 391.7 240 386.8C320 382 400 363 480 348.5C560 334 640 324 720 331C800 338 880 362 920 374L960 386L960 541L920 541C880 541 800 541 720 541C640 541 560 541 480 541C400 541 320 541 240 541C160 541 80 541 40 541L0 541Z"
              fill="#c6f3ea"
              fill-opacity="1"
            ></path>
          </svg>
        </div>
        <div class="bg-[#c6f3ea] mt-[-4%]">
          <div
            class="
              text-center text-[#718096] text-[16px]
              leading-[0.47px]
              flex
              justify-center
              p-5
            "
          >
            <p class="text-[#718096] text-[130px] leading-[0px] tracking-[1px]">
              2.
            </p>
            <p class="h-12 leading-6 text-left pl-5">
              Erhalte Vermittlungs- angebot von Arbeitgeber
            </p>
          </div>
          <div class="flex justify-center">
            <img src="../assets/images/2.png" alt="2" />
          </div>
        </div>
        <svg viewBox="0 0 960 540" class="mt-[-0px]">
          <path
            d="M0 165L40 160.3C80 155.7 160 146.3 240 151.2C320 156 400 175 480 189.5C560 204 640 214 720 207C800 200 880 176 920 164L960 152L960 0L920 0C880 0 800 0 720 0C640 0 560 0 480 0C400 0 320 0 240 0C160 0 80 0 40 0L0 0Z"
            fill="#c6f3ea"
            fill-opacity="1"
          ></path>
        </svg>

        <div class="mt-[-15%]">
          <div
            class="
              text-center text-[#718096] text-[16px]
              leading-[0.47px]
              flex
              justify-center
              p-5
            "
          >
            <p class="text-[#718096] text-[130px] leading-[0px] tracking-[1px]">
              3.
            </p>
            <p class="h-12 leading-6 text-left pl-5">
              Vermittlung nach Provision oder Stundenlohn
            </p>
          </div>
          <div
            class="
              w-[304px]
              h-[304px]
              bg-[#F7FAFC]
              rounded-[50%]
              ml-[-30%]
              mt-[-150px]
            "
          ></div>
          <div class="flex justify-center mt-[-35%]">
            <img src="../assets/images/3.png" alt="3" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  // state
  data() {
    return {
      current_selected_tab: 1,
    };
  },
  // actions
  methods: {
    change_tab(val) {
      this.current_selected_tab = val;
      console.log(val);
    },
  },
};
</script>
